.query-form-inline {
  margin-top: 20px;
  margin-left: 15px;
}
.query-form-inline-button {
  float: right;
}
.data-content {
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 5px grey;
}
.data-content-header {
  padding-top: 10px;
}
.data-content-header-text {
  padding-left: 10px;
}
.data-content-header-button {
  float: right;
  margin-right: 30px;
}
.data-content-table {
  margin-top: 3px;
}
.data-pagination {
  margin-top: 5px;
  margin-bottom: 20px;
}